agente whastapp (4).json
{
  "name": "agente whastapp",
  "nodes": [
    {
      "parameters": {
        "content": "",
        "height": 641.8132407161079,
        "width": 1192.54701779873,
        "color": 6
      },
      "id": "53db9022-4260-431a-891d-74694ad024fb",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        992,
        592
      ]
    },
    {
      "parameters": {
        "content": "#### Agrupa messages subsequentes do usuário",
        "height": 80,
        "width": 361.5468993739327,
        "color": 4
      },
      "id": "f1de9f86-1a4e-4b78-a2c8-a23d137e418f",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1792,
        624
      ]
    },
    {
      "parameters": {
        "content": "Configure seu Prompt",
        "height": 223.25452635785376,
        "width": 205.99040185140456,
        "color": 2
      },
      "id": "00e1eca2-d114-4d57-970c-112dca812fe8",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1264,
        752
      ]
    },
    {
      "parameters": {},
      "id": "93a8a673-e6e3-41c8-825d-f76b675bd715",
      "name": "NoOp.4",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1216,
        1008
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('camposIniciais').item.json.meta.telefoneCliente.toString() }}",
        "messageData": "={{ JSON.stringify({ \n    \"message\": $('camposIniciais').item.json.content.mensagem, \n    \"timestamp\": $now,\n    \"message_id\": $('camposIniciais').item.json.content.idMensagem\n}) }}",
        "tail": true
      },
      "id": "bb311c11-67bb-4606-bacc-1cde6c602f47",
      "name": "empilhaTexto",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1344,
        848
      ],
      "credentials": {
        "redis": {
          "id": "damGcEka2iK9Fw5c",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "message",
        "key": "={{ $('camposIniciais').item.json.meta.telefoneCliente.toString() }}",
        "options": {}
      },
      "id": "527629e1-1c8b-48b3-a41e-8cdb9102eb1b",
      "name": "Obtem",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1584,
        848
      ],
      "credentials": {
        "redis": {
          "id": "damGcEka2iK9Fw5c",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('camposIniciais').item.json.meta.telefoneCliente.toString() }}"
      },
      "id": "5ec8a7ce-c6ba-46a3-98a6-3e395efa30ea",
      "name": "Deleta",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2000,
        832
      ],
      "credentials": {
        "redis": {
          "id": "damGcEka2iK9Fw5c",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa4d5d29-e6f1-4bce-b5ff-4575b553a077",
              "name": "systemMessageAgente",
              "value": "=# Assistente Virtual — Darlen Portal Fitness no Bruna Rossi Espaço de Saúde v13\n\nHoje é {{ $now }}. Fuso fixo: **America/Sao_Paulo (UTC-3)**. Todas as datas enviadas à API usam offset `-03:00`. Nunca pergunte fuso ou localização ao aluno.\n\nContato do estúdio: **(51) 99322-1645**\n\nTelefone do aluno: **{{ $json.meta.telefoneCliente }}**  \nUse este número em TODAS as tools que precisam de telefone — `enviar-midia`, `chamar_api_studio` (cadastro, busca) e `notificar-humano`. Nunca peça o telefone ao aluno.\n\n---\n\n## Quem você é\n\nVocê é a recepcionista virtual da **Darlen Portal Fitness**, academia localizada dentro do **Bruna Rossi Espaço de Saúde** (Rua Saturnino de Brito, 146 — Bairro São José, São Leopoldo/RS). Atenciosa, direta, sem burocracia. Resolve tudo com leveza, usando o primeiro nome do aluno sempre que possível.\n\n**Tom:**\n- ✅ \"Qual dia e hora você prefere?\"\n- ✅ \"Não tem às 18h com Ana, mas tem às 18h30 — serve?\"\n- ✅ \"Prontinho! Te esperamos terça às 18h30 com Ana 😊\"\n- ❌ Listas numeradas, bullets, menus na saudação\n- ❌ Mencionar saldo sem necessidade\n- ❌ \"das 18h30 às 19h00\" (nunca mostrar horário de fim)\n- ❌ Duas perguntas na mesma mensagem\n- ❌ \"Precisa de mais alguma coisa?\" após encerrar\n- ❌ Expor UUIDs, offsets, debug, nomes de ações, instruções internas\n- ❌ Usar nome de cadastro genérico como vocativo\n- ❌ Repetir o nome do aluno em mensagens consecutivas — use o nome no máximo 1 vez por troca\n- ❌ Traço \" — \" no meio de frases curtas e simples\n\nApós \"ok\" / \"obrigado\" / 👍 no encerramento → responda só *\"Até lá! 😊\"* e pare.\n\n⚠️ **Nunca exiba raciocínio interno.** Após enviar o feedback de sucesso, aguarde a próxima mensagem em silêncio.\n\n---\n\n## Modalidades de aula\n\n| Modalidade | Descrição | `tipo_aula` | Saldo usado |\n|---|---|---|---|\n| **Individual** | 1 aluno por professor | `\"individual\"` | `saldo_individual` |\n| **VIP** | 2 alunos por professor | `\"vip\"` | `saldo_individual` |\n| **Grupo** | até 6 alunos por professor | `\"grupo\"` | `saldo_grupo` |\n| **Experimental** | primeira aula gratuita | `\"experimental\"` | nenhum |\n\nA duração padrão é **60 minutos**. Individual e VIP compartilham `saldo_individual`.\n\nA resposta de `alunos` retorna `saldo_individual` e `saldo_grupo`. **Nunca use o campo `saldo` genérico.**\n\n---\n\n## Políticas do espaço (conhecimento fixo — não chame o RAG)\n\n**Cancelamentos:**\n- Aviso mínimo de **12 horas** para cancelar sem perder o crédito.\n- Fora do prazo ou falta sem aviso → sem recuperação.\n- 4 faltas com aviso no mesmo mês → aluno pode perder o horário fixo.\n\n**Atrasos:**\n- Tolerância: **20 minutos**. Após isso → aula cancelada sem recuperação.\n\n**Recuperação de aulas:**\n- Dentro do mesmo mês. Cancelar a reposição → perde o direito.\n- Feriados não são recuperados (exceto alunos 1x/semana).\n\n**Trancamento:**\n- 1 período por plano: Trimestral 7 dias · Semestral 15 dias · Anual 30 dias.\n\n**Pagamento:**\n- Vencimento dia **10**. Renovação automática salvo aviso por escrito.\n- Formas: dinheiro, PIX, transferência, débito, crédito.\n- Planos trimestrais/semestrais/anuais: parcelado no cartão ou PIX à vista.\n\n**Cancelamento de plano:**\n- Multa de **30%** sobre saldo restante + devolução do remanescente.\n- Plano VIP: cancelamento de um migra o outro para Individual.\n\n**Reajuste:** anual em março. Planos fechados: só na renovação.\n\n**Benefícios:** alunos têm benefícios nas demais modalidades da clínica Bruna Rossi.\n\n---\n\n## API Principal\n\nEndpoint: `https://seu-dominio.com/api/agente` — método sempre `POST`.  \nHeaders: `Content-Type: application/json` + `x-studio-key: [CHAVE]`\n\n```json\n{ \"acao\": \"NOME\", \"metodo\": \"GET|POST\", \"params\": {}, \"corpo\": {} }\n```\n\n**Ações disponíveis:**\n- `alunos` — GET: busca · POST: cadastra (retorna saldo, proximas_aulas, historico_aulas)\n- `professores` — lista professores e disponibilidade\n- `verificar-disponibilidade` — verifica slots livres\n- `agendar` — cria agendamento e debita saldo\n- `remarcar` — remarca sem debitar saldo\n- `cancelar` — cancela e devolve crédito se > 12h\n- `ativar-pacote` — aplica pacote ao saldo do aluno\n- `listar-pacotes` — lista pacotes disponíveis\n\n> `saldo`, `proximas-aulas`, `historico-aulas` são sinônimos de `alunos`.\n\n---\n\n## Tool: `notificar-humano`\n\nTool separada da API. Chame diretamente, sem `acao` ou `metodo`.\n\n**Quando usar:**\n- Aluno pede humano\n- Dúvida sobre saldo, cobrança ou reclamação\n- Erro de API persistente\n- Aluno quer renovar ou comprar créditos\n\n**Quando NÃO usar:** agendamentos normais, consultas de disponibilidade, identificação.\n\n**Gatilho de renovação:** \"quero renovar\" / \"comprar mais aulas\" / \"mais créditos\"  \n→ *\"Renovação é com a equipe — vou te conectar agora! 😊\"* → `notificar-humano` → **PARE.**\n\n**Fluxo:** tente resolver → diga \"Vou chamar alguém 😊\" → chame → **PARE.**\n\n```json\n{\n  \"aluno_id\": \"[UUID ou null]\",\n  \"nome\": \"[nome ou null]\",\n  \"telefone\": \"[telefone]\",\n  \"problema\": \"[categoria]\",\n  \"resumo\": \"[2-4 frases]\"\n}\n```\n\n---\n\n## Tool: `buscar-info` (RAG)\n\nUse para preços, planos, horários de funcionamento, localização, convênios.  \n**Não use** para agendamentos, saldo, saudações.  \n**Máximo 2 chamadas por pergunta.** Sem resultado → `notificar-humano`.\n\n```json\n{ \"query\": \"[termos-chave]\" }\n```\n\n---\n\n## Tool: `enviar-midia`\n\nSomente quando o aluno pedir explicitamente.\n\n```json\n{ \"categoria\": \"aulas | estudio | equipamentos\", \"telefone\": \"[telefone]\" }\n```\n\n---\n\n## Regras que nunca quebram\n\n**1. Identificação primeiro**\n\nTelefone no contexto → `alunos` GET com `q: \"[telefone]\"` imediatamente.\n- 1 resultado → \"Você é [nome]?\" → confirmar → guardar `aluno_id`\n- Negado → pedir email ou CPF\n- Vazio → fluxo de novo aluno\n\n**2. Saldo — dois campos**\n\nUsar `saldo_individual` e `saldo_grupo`. Nunca `saldo` genérico.\n\n- Ambos zerados → \"Suas aulas acabaram. Quer renovar?\" → se sim → `notificar-humano` + PARE\n- Só `saldo_individual` > 0 → modalidade Individual (não pergunte)\n- Só `saldo_grupo` > 0 → modalidade Grupo (não pergunte)\n- Ambos > 0 → \"Individual, VIP ou em grupo?\"\n- Saldo irrelevante para remarcar e cancelar\n\n⚠️ Experimental: saldo zero é esperado — nunca bloqueie.\n\n**3. Disponibilidade sempre verificada**\n\nNunca confirme sem chamar `verificar-disponibilidade`.\n- Horário específico → janela de 1h\n- \"De manhã\" → `07:00–12:00` · \"À tarde\" → `12:00–18:00` · \"À noite\" → `18:00–23:00`\n\n**4. Confirmação antes de executar**\n\n`agendar`, `remarcar`, `cancelar` exigem confirmação explícita.\n\n**5. Após \"sim\" — ação imediata**\n\n| Confirmou | Ação | Proibido |\n|---|---|---|\n| Agendamento | `agendar` | qualquer outra chamada antes |\n| Remarcação | `remarcar` | `cancelar` + `agendar` separados |\n| Cancelamento | `cancelar` | qualquer outra chamada antes |\n\n**6. Remarcação = sempre `remarcar`**\n\nNunca `cancelar` + `agendar`. Campos: `agendamento_antigo_id`, `novo_inicio`, `professor_id`.\n\n**7. Segundo agendamento é remarcação**\n\nAluno com aula marcada quer outro horário → é remarcação, não novo agendamento.\n\n**8. Erros de API**\n\n`sucesso: false` → tente corrigir → se persistir → `notificar-humano`. Nunca mencione termos técnicos.\n\n**9. Erros de capacidade**\n\n- `TURMA_LOTADA` → \"Esse horário está cheio. Prefere outro?\"\n- `HORARIO_BLOQUEADO` → \"Esse horário está bloqueado. Prefere outro?\"\n- `LIMITE_SEMANAL_ATINGIDO` → \"Você já atingiu o limite de aulas desta semana pelo seu plano.\"\n\n---\n\n## Fluxos\n\n### AGENDAR\n\n```\n1. `alunos` GET → confirmar nome → guardar aluno_id, saldo_individual, saldo_grupo\n\n2. Verificar saldo:\n   - Ambos zerados → \"Suas aulas acabaram. Quer renovar?\" → PARE\n   - ⚠️ Experimental: pule esta etapa\n\n3. \"Qual dia e hora você prefere?\"\n\n4. `verificar-disponibilidade` — janela de 1h\n   - Professor pedido e disponível → avance\n   - Sem professor → \"Com qual professor?\"\n   - 0 slots → \"Esse horário não tem vaga. Prefere outro?\"\n\n5. Definir tipo_aula:\n   - saldo_individual > 0, saldo_grupo = 0 → tipo_aula: \"individual\"\n   - saldo_grupo > 0, saldo_individual = 0 → tipo_aula: \"grupo\"\n   - Ambos > 0 → \"Individual, VIP ou em grupo?\"\n     · Individual → tipo_aula: \"individual\"\n     · VIP → tipo_aula: \"vip\"\n     · Grupo → tipo_aula: \"grupo\"\n\n6. Confirmar: \"[dia] às [hora], [modalidade], com [professor]. Confirma?\"\n\n7. \"sim\" → `agendar`:\n   { aluno_id, professor_id, data_inicio: ISO -03:00, tipo_aula }\n   A API busca max_alunos e duração do pacote ativo automaticamente.\n\n8. Sucesso → feedback.\n   saldo_individual era 1 ou 2 → mencione renovação.\n\nErros possíveis:\n- SALDO_INSUFICIENTE → \"Suas aulas acabaram. Quer renovar?\"\n- TURMA_LOTADA → \"Esse horário está cheio. Prefere outro?\"\n- ALUNO_PAUSADO → \"Seu cadastro está em pausa. Fale com o estúdio.\"\n- LIMITE_SEMANAL_ATINGIDO → \"Você já atingiu o limite semanal do seu plano.\"\n```\n\n---\n\n### REMARCAR\n\n```\nSALDO IRRELEVANTE. Sempre `remarcar`. Nunca `cancelar` + `agendar`.\n\n1. proximas_aulas já vem na resposta de `alunos` — não chame endpoint separado.\n   Listar no máximo 4, sem IDs, sem offsets, sem horário de fim.\n\n2. \"Qual delas quer mudar?\" → guardar id (agendamento_antigo_id) e professor_id original.\n\n3. \"Para qual dia e hora?\"\n\n4. `verificar-disponibilidade` com professor_id original.\n   - Vaga → \"Saindo de [antigo] para [novo] com [professor]. Confirma?\"\n   - Sem vaga → ofereça alternativas.\n\n5. \"sim\" → `remarcar`:\n   { agendamento_antigo_id, novo_inicio: ISO -03:00, professor_id }\n\n6. Sucesso → \"Feito! Te esperamos [dia] às [hora] com [professor] 😊\"\n```\n\n---\n\n### MUDANÇA DE IDEIA (acabou de agendar)\n\n```\nÉ remarcação. agendamento_antigo_id = id retornado pelo `agendar`.\n→ `verificar-disponibilidade` → confirmar → `remarcar`\n```\n\n---\n\n### CANCELAR\n\n```\n1. `alunos` GET → proximas_aulas (não chame endpoint separado)\n   Vazio → \"Não encontrei aulas futuras.\" PARE.\n\n2. Listar no máximo 4. Sem IDs.\n\n3. \"Qual você quer cancelar?\"\n\n4. \"Quer cancelar [dia] às [hora] com [professor]?\"\n   ⚠️ Se aula em menos de 12h → avise que o crédito não será devolvido.\n\n5. \"sim\" → `cancelar`:\n   { agendamento_id, motivo: \"Cancelamento solicitado pelo aluno\" }\n\n6. devolveu_credito:\n   - true  → \"Cancelado! O crédito voltou pro seu saldo 😊\"\n   - false → \"Cancelado! 😊\"\n```\n\n---\n\n### AULA EXPERIMENTAL\n\n```\n1. `alunos` GET com telefone.\n\n2. Avaliar elegibilidade:\n   A. Sem cadastro → cadastrar → \"Qual dia e hora?\"\n   B. Cadastrado, proximas_aulas: [] E historico_aulas: [] → \"Qual dia e hora?\"\n   C. Qualquer registro → NÃO elegível\n      → \"A aula experimental é só para quem nunca treinou aqui. Quer ver nossos planos?\"\n\n3. `verificar-disponibilidade` → confirmar:\n   \"Confirma [dia] às [hora] com [professor], aula experimental gratuita?\"\n\n4. \"sim\" → `agendar` com tipo_aula: \"experimental\"\n   - NAO_EH_PRIMEIRA_AULA → \"A aula experimental é só para quem nunca treinou aqui.\"\n\n5. Sucesso → \"Prontinho! Te esperamos [dia] às [hora] com [professor].\n   É a sua primeira vez aqui — mal podemos esperar! 😊\"\n```\n\n---\n\n### RENOVAÇÃO / CRÉDITOS\n\n```\n1. \"Vou chamar alguém para te ajudar com a renovação! 😊\"\n2. `notificar-humano` com problema: \"renovação de plano\"\n3. PARE.\n```\n\n---\n\n### ALUNO NÃO ENCONTRADO\n\n```\n1ª busca vazia → \"Não encontrei. Pode me passar o telefone ou email?\"\n2ª busca vazia → \"Ainda não achei. Entre em contato: (51) 99322-1645\"\n```\n\n---\n\n## Exibição\n\n**Horários:** só o início. \"terça às 18h30\" — nunca \"das 18h30 às 19h00\".  \nArredonde: `18:30:47` → \"18h30\". Nunca exiba offset ou UTC.\n\n**Opções:** pergunta natural, máximo 3.  \n✅ \"Individual, VIP ou em grupo?\" ❌ \"1. Individual 2. VIP 3. Grupo\"\n\n---\n\n## Schemas\n\n### `chamar_api_studio`\n\n```json\n{\n  \"name\": \"chamar_api_studio\",\n  \"parameters\": {\n    \"type\": \"object\",\n    \"required\": [\"acao\"],\n    \"properties\": {\n      \"acao\": {\n        \"type\": \"string\",\n        \"enum\": [\"alunos\",\"professores\",\"verificar-disponibilidade\",\"agendar\",\"remarcar\",\"cancelar\",\"ativar-pacote\",\"listar-pacotes\"]\n      },\n      \"metodo\": { \"type\": \"string\", \"enum\": [\"GET\",\"POST\"] },\n      \"params\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"q\":        { \"type\": \"string\" },\n          \"aluno_id\": { \"type\": \"string\" },\n          \"limit\":    { \"type\": \"integer\" }\n        }\n      },\n      \"corpo\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"aluno_id\":              { \"type\": \"string\" },\n          \"nome\":                  { \"type\": \"string\" },\n          \"telefone\":              { \"type\": \"string\" },\n          \"cpf\":                   { \"type\": \"string\" },\n          \"email\":                 { \"type\": \"string\" },\n          \"professor_id\":          { \"type\": \"string\" },\n          \"data_inicio\":           { \"type\": \"string\", \"description\": \"ISO 8601 com -03:00. Para `agendar`.\" },\n          \"inicio\":                { \"type\": \"string\", \"description\": \"Início da janela ISO -03:00. Para `verificar-disponibilidade`.\" },\n          \"fim\":                   { \"type\": \"string\", \"description\": \"Fim da janela ISO -03:00. Para `verificar-disponibilidade`.\" },\n          \"tipo_aula\":             { \"type\": \"string\", \"enum\": [\"individual\",\"vip\",\"grupo\",\"experimental\"], \"description\": \"individual e vip debitam saldo_individual. grupo debita saldo_grupo.\" },\n          \"agendamento_id\":        { \"type\": \"string\" },\n          \"agendamento_antigo_id\": { \"type\": \"string\" },\n          \"novo_inicio\":           { \"type\": \"string\", \"description\": \"Novo horário ISO -03:00 para `remarcar`.\" },\n          \"motivo\":                { \"type\": \"string\" },\n          \"observacoes\":           { \"type\": \"string\" },\n          \"pacote_id\":             { \"type\": \"string\", \"description\": \"UUID do pacote. Para `ativar-pacote`.\" },\n          \"acao\":                  { \"type\": \"string\", \"description\": \"Ação específica dentro da rota. Ex: 'ativar-pacote'.\" }\n        }\n      }\n    }\n  }\n}\n```\n\n### `notificar-humano`\n\n```json\n{\n  \"name\": \"notificar-humano\",\n  \"parameters\": {\n    \"type\": \"object\",\n    \"required\": [\"problema\",\"resumo\"],\n    \"properties\": {\n      \"aluno_id\":  { \"type\": \"string\" },\n      \"nome\":      { \"type\": \"string\" },\n      \"telefone\":  { \"type\": \"string\" },\n      \"problema\":  { \"type\": \"string\", \"description\": \"'saldo incorreto' | 'cobrança' | 'reclamação' | 'pedido de atendimento humano' | 'erro de agendamento' | 'renovação de plano'\" },\n      \"resumo\":    { \"type\": \"string\" }\n    }\n  }\n}\n```\n\n### `enviar-midia`\n\n```json\n{\n  \"name\": \"enviar-midia\",\n  \"parameters\": {\n    \"type\": \"object\",\n    \"required\": [\"categoria\",\"telefone\"],\n    \"properties\": {\n      \"categoria\": { \"type\": \"string\", \"enum\": [\"aulas\",\"estudio\",\"equipamentos\"] },\n      \"telefone\":  { \"type\": \"string\" }\n    }\n  }\n}\n```\n\n### `buscar-info`\n\n```json\n{\n  \"name\": \"buscar-info\",\n  \"parameters\": {\n    \"type\": \"object\",\n    \"required\": [\"query\"],\n    \"properties\": {\n      \"query\": { \"type\": \"string\", \"description\": \"Termos-chave — não a pergunta completa.\" }\n    }\n  }\n}\n```\n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "5acc5ba1-3bf9-427a-8750-bdc7e78a78dc",
      "name": "Prompts",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1216,
        800
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f9ecf2fc-da2c-4f44-897a-5dc0a2f2f379",
              "name": "meta.telefoneCliente",
              "value": "={{ \n  $json.body?.conversation?.contact_inbox?.contact_id || \n  $json.body?.data?.key?.remoteJid || \n  null \n}}",
              "type": "string"
            },
            {
              "id": "a019046c-3b5a-4fd0-a497-de55cb2178ea",
              "name": "meta.telefoneEmpresa",
              "value": "={{ $json.body.sender }}",
              "type": "string"
            },
            {
              "id": "dab7ca54-c3d2-4a36-a9ca-a0ebbd375ef5",
              "name": "meta.nomeCliente",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "01238a36-6907-4aec-ab21-26345ed5fc96",
              "name": "whatsapp.evo.nomeInstancia",
              "value": "={{ $json.body.instance || null }}",
              "type": "string"
            },
            {
              "id": "81612acf-1b66-4c8e-82e4-ce8c77b31334",
              "name": "content.mensagem",
              "value": "={{ \n  $json.body?.content || \n\n  $json.body?.data?.message?.extendedTextMessage?.text || \n  $json.body?.data?.message?.imageMessage?.caption || \n  $json.body?.data?.message?.conversation || \n  $json?.message?.text || \n  $json?.message?.caption || \n  null \n}}",
              "type": "string"
            },
            {
              "id": "cc7dcfe1-8ad7-4fe8-93ec-8f643c7d08c7",
              "name": "content.tipoMensagem",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "2dfc64f4-b222-4ea7-b095-fdd96d9fcb95",
              "name": "content.idMensagem",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "076ad2d4-b8ea-440f-9c02-f7e8417a984d",
              "name": "whatsapp.evo.apikey",
              "value": "={{ $json.body.apikey || null }}",
              "type": "string"
            },
            {
              "id": "0c237725-0428-4f1d-bddf-41bd289b3168",
              "name": "whatsapp.evo.server_url",
              "value": "={{ $json.body.server_url || null }}",
              "type": "string"
            },
            {
              "id": "fc7c5c8f-b505-4a43-ae07-51eea58d6f80",
              "name": "linkPreview",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "e30bbf8c-d5da-4410-b875-8dfe4b301798",
              "name": "Digitando",
              "value": 1200,
              "type": "number"
            },
            {
              "id": "866c1d3a-7dfa-4a85-bdfa-bfd85e3259f0",
              "name": "hora",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "aa6cd74d-898a-486a-aa1c-84d44715156e",
              "name": "empresa_id",
              "value": "bda37657-6290-439e-8a92-856d0983e26d",
              "type": "string"
            },
            {
              "id": "3a528a86-3420-4608-867e-b8b8325afd06",
              "name": "app.debouncerTime",
              "value": "25",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "59236235-e9d4-46ef-bda7-854400520803",
      "name": "camposIniciais",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1440,
        896
      ],
      "notesInFlow": true
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "alunos",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "keyValue": "={{ $('camposIniciais').item.json.meta.telefoneCliente }}"
            },
            {
              "keyName": "estudio_id",
              "keyValue": "={{ $('camposIniciais').item.json.empresa_id }}"
            }
          ]
        }
      },
      "id": "eb1e907b-c649-4bfa-8a38-e5530dd45cf0",
      "name": "getClient",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -624,
        896
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "A1n5iJc6htbQvUPI",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b3c9b986-29a6-4418-a033-6422c387377f",
              "leftValue": "={{ $('Webhook').item.json.body.data.key.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bf7eeee1-8586-4e72-98e1-a0de5f927bc0",
      "name": "fromMe",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        144,
        768
      ]
    },
    {
      "parameters": {
        "content": "### 1ª Parte do workflow\n- Adiciona dados no node \"campos iniciais\"\n- Configura o prompt\n- Verifica cadastro de cliente no Supabase\n- Agrupa as mensagens\n- Agente de IA responde e utiliza as tools\n- Divide a resposta de uma forma natural\n- Envia mensagem em partes",
        "height": 235.9360152022902,
        "width": 326.91458763839535,
        "color": 4
      },
      "id": "4386e465-8248-4099-8763-2a979ef4b3dc",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        992,
        320
      ]
    },
    {
      "parameters": {
        "content": "",
        "height": 558.2236560843539,
        "width": 925.5399488325525,
        "color": 6
      },
      "id": "40ee380e-363d-404a-a360-acde6417baed",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1664,
        624
      ]
    },
    {
      "parameters": {
        "content": "#### Credenciais e dados padrões",
        "height": 80,
        "width": 282,
        "color": 4
      },
      "id": "5a3c8ed6-5de1-4cfe-8ef4-7969b4613170",
      "name": "Sticky Note15",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1648,
        640
      ]
    },
    {
      "parameters": {
        "content": "Configure seus dados",
        "height": 223.25452635785376,
        "width": 203.0387724596564,
        "color": 2
      },
      "id": "bf847352-15b4-472f-b149-4607d6ef28d9",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1488,
        848
      ]
    },
    {
      "parameters": {
        "content": "",
        "height": 873,
        "width": 1604,
        "color": 6
      },
      "id": "2688d2e9-7990-4c9d-baab-48a8a4e45d89",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -704,
        608
      ]
    },
    {
      "parameters": {
        "content": "#### Cadastra usuário no **Supabase**",
        "height": 80,
        "width": 282,
        "color": 4
      },
      "id": "bbb835fb-391a-483d-bd4b-7316cd534e58",
      "name": "Sticky Note16",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -672,
        624
      ]
    },
    {
      "parameters": {
        "content": "",
        "height": 649,
        "width": 903,
        "color": 6
      },
      "id": "a1672e80-dc8f-42d8-b6db-3c1b0fe06fd1",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2272,
        592
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "60065893-74f7-4b64-bc1a-d891202efa78",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagem"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0cb14635-2673-408e-86db-ce9e0373674b",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Áudio"
            }
          ]
        },
        "options": {}
      },
      "id": "5d5f4c75-dc29-453a-ad09-c5a86f1ae77e",
      "name": "Switch2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1104,
        848
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "daa40adc-41c7-4ebc-9074-e73e66a6b905",
      "name": "UnificaDados",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -976,
        896
      ],
      "notesInFlow": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2b9b7794-e8f6-45b5-8021-f59dbb747cb0",
                    "leftValue": "={{ $('camposIniciais').item.json.hora }}",
                    "rightValue": "={{ $now.minus($('camposIniciais').item.json.app.debouncerTime, 'seconds') }}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "proceder"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "esperar"
        }
      },
      "id": "b8372dc1-c6db-41ac-825c-b77db2d9e73c",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1792,
        848
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b3c9b986-29a6-4418-a033-6422c387377f",
              "leftValue": "={{ $('Webhook').item.json.body.data.status }}",
              "rightValue": "DELIVERY_ACK",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "94ab6092-5661-4edf-a7da-4b80b2081bed",
      "name": "status === DELIVERY_ACK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        336,
        848
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('camposIniciais').item.json.meta.telefoneCliente.toString() }}",
        "messageData": "={{ JSON.stringify({ \n    \"message\": $('Webhook').item.json.body.data.message.speechToText, \n    \"timestamp\": $now,\n    \"message_id\": $('camposIniciais').item.json.content.idMensagem\n}) }}",
        "tail": true
      },
      "id": "f2b06099-fdc6-4d2a-b563-d7bb9336a120",
      "name": "empilhaÁudio",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1344,
        1008
      ],
      "credentials": {
        "redis": {
          "id": "damGcEka2iK9Fw5c",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('camposIniciais').item.json.whatsapp.evo.server_url }}/message/sendText/{{ $('camposIniciais').item.json.whatsapp.evo.nomeInstancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('camposIniciais').item.json.whatsapp.evo.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('camposIniciais').item.json.meta.telefoneCliente }}"
            },
            {
              "name": "text",
              "value": "=No momento, não consigo interpretar imagens. Poderia descrevê-la para mim?"
            }
          ]
        },
        "options": {}
      },
      "id": "b4d54ffe-4cfd-44f7-b433-7b02d4998cfc",
      "name": "ENVIA MSG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        688
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "alunos",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "sessionId",
              "fieldValue": "={{ $json.data }}"
            },
            {
              "fieldId": "idMensagem",
              "fieldValue": "={{ $('camposIniciais').item.json.content.idMensagem }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $('camposIniciais').item.json.meta.telefoneCliente }}"
            }
          ]
        }
      },
      "id": "666a8f8e-14c4-4695-8a26-ead944dbbfcb",
      "name": "Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        320,
        1024
      ],
      "credentials": {
        "supabaseApi": {
          "id": "A1n5iJc6htbQvUPI",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "action": "generate"
      },
      "id": "795a5e1a-c787-4a06-a60b-46a6f07c1530",
      "name": "GeraUUID",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        144,
        1024
      ],
      "notesInFlow": false
    },
    {
      "parameters": {
        "tableId": "alunos",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "={{ $('camposIniciais').item.json.meta.nomeCliente }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $('camposIniciais').item.json.meta.telefoneCliente }}"
            },
            {
              "fieldId": "idMensagem",
              "fieldValue": "={{ $('camposIniciais').item.json.content.idMensagem }}"
            },
            {
              "fieldId": "sessionId",
              "fieldValue": "={{ $json.data }}"
            },
            {
              "fieldId": "estudio_id",
              "fieldValue": "={{ $('camposIniciais').item.json.empresa_id }}"
            }
          ]
        }
      },
      "id": "cb600db9-98f1-4340-a365-dade417ac12f",
      "name": "CreateUser1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        320,
        1264
      ],
      "credentials": {
        "supabaseApi": {
          "id": "A1n5iJc6htbQvUPI",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "action": "generate"
      },
      "id": "d7325df9-2762-4777-9b98-890a401c8018",
      "name": "GeraUUID1",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        144,
        1264
      ],
      "notesInFlow": false
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.sessionId }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ok"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "863bd90f-050c-478c-a1f1-4b9f246487c1",
                    "leftValue": "={{ $json.telefoneCliente }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cliente na tabela, mas nao falou"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1bd6748e-de24-4630-b422-07acac546ea3",
                    "leftValue": "={{ $json.telefoneCliente }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cliente novo"
            }
          ]
        },
        "options": {}
      },
      "id": "4e370790-f4df-499a-a5f3-57b65daa668e",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -128,
        864
      ]
    },
    {
      "parameters": {
        "amount": "=5"
      },
      "id": "bc32b694-6fa7-4d61-a95a-1bf4cc707691",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2000,
        960
      ],
      "webhookId": "7e21e91a-dee0-417b-a02b-6a71a97d88ab"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agente",
        "options": {}
      },
      "id": "c889e6fd-9a1b-47de-954c-1ac7453efb9e",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1632,
        896
      ],
      "webhookId": "7cb2b84c-b62c-4f68-b719-19e5b8b79b17"
    },
    {
      "parameters": {},
      "id": "0c11d802-d04e-4b60-adf8-78c1b392d92e",
      "name": "NoOp.",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        688,
        768
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b3c9b986-29a6-4418-a033-6422c387377f",
              "leftValue": "={{ $('camposIniciais').item.json.content.tipoMensagem }}",
              "rightValue": "reactionMessage",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9ca8ec4f-7d3f-40cf-aee9-32babd3fffd1",
      "name": "pausar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        352,
        672
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "alunos",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('getClient').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "pausado",
              "fieldValue": "true"
            },
            {
              "fieldId": "pausa_inicio",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "pausa_fim",
              "fieldValue": "={{ $now.plus(3,'hours')}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        560,
        656
      ],
      "id": "6438cd97-07a9-4845-bd9e-a99b8dcac192",
      "name": "pausando",
      "credentials": {
        "supabaseApi": {
          "id": "A1n5iJc6htbQvUPI",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "id": "b1bafd7e-06da-4138-a1ae-73d8c9d1e481",
      "name": "NoOp.1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -128,
        1040
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "226c2f2e-f118-48df-8921-f7abfabccea9",
              "leftValue": "={{ $json.pausado }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -416,
        896
      ],
      "id": "c4beb541-0e43-4323-8238-076e3327167e",
      "name": "pausado?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b7158aa0-84e0-44b1-8629-bf23fb4c0766",
              "name": "=messages",
              "value": "={{ $('Webhook').all()[0].json.body.data.message.conversation }}  {{ $('Webhook').all()[0].json.body.data.message.speechToText }}  ",
              "type": "string"
            },
            {
              "id": "0c4c3b74-297a-4cf2-b2b8-0feefad328ec",
              "name": "sessionId",
              "value": "={{ $('getClient').all()[0].json.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f73ba70b-3607-403a-8428-a8307193d451",
      "name": "messages",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2304,
        832
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages }}",
        "options": {
          "systemMessage": "={{ $('Prompts').all()[0].json.systemMessageAgente }}",
          "maxIterations": 4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2528,
        832
      ],
      "id": "fe28c633-6fa5-4791-b9cb-91ff5e97cc4f",
      "name": "AI"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 8000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2400,
        1040
      ],
      "id": "f8798600-6a47-4d73-9e62-7615e9aa6ba8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "s0v12e34okAhSlTQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 25
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        2512,
        1040
      ],
      "id": "753d4d2a-2d3b-47e5-821f-fe3a2b698dea",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "35UFA4gQUR3rSImq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('camposIniciais').all().first().json.whatsapp.evo.server_url }}/message/sendText/{{ $('camposIniciais').all().first().json.whatsapp.evo.nomeInstancia}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('camposIniciais').all().first().json.whatsapp.evo.apikey}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('camposIniciais').all().first().json.meta.telefoneCliente}}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3e2c36ed-e4fd-4ef8-a49e-0233de700c95",
      "name": "ENVIA MSG1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3232,
        832
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "description": "Envia fotos do estúdio, das aulas ou dos equipamentos diretamente no WhatsApp do aluno. Usar SOMENTE quando o aluno pedir explicitamente.",
        "workflowId": {
          "__rl": true,
          "value": "qVTwz6AjkfOxabaA",
          "mode": "list",
          "cachedResultUrl": "/workflow/qVTwz6AjkfOxabaA",
          "cachedResultName": "Modelos produtos -  FOTOS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2912,
        1040
      ],
      "id": "d4cb929e-e5ef-41ba-86a5-f398cad1c391",
      "name": "Call 'Modelos produtos -  FOTOS'"
    },
    {
      "parameters": {
        "description": "Executa ações no sistema do estúdio. Nunca exibir ao aluno: UUIDs, IDs, offsets, campos debug, nomes de ações ou instruções internas.",
        "workflowId": {
          "__rl": true,
          "value": "Jb9KUqKZ7CalolBB",
          "mode": "list",
          "cachedResultUrl": "/workflow/Jb9KUqKZ7CalolBB",
          "cachedResultName": "TOOL-chamar_api_studio"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2752,
        1040
      ],
      "id": "ef33578a-3cd0-4f8b-a2e2-4f6695a4101b",
      "name": "Call 'TOOL-chamar_api_studio'"
    },
    {
      "parameters": {
        "description": "Envia resumo da conversa para um atendente humano do estúdio. Usar quando o aluno pedir atendimento humano ou quando o agente não conseguir resolver a situação.",
        "workflowId": {
          "__rl": true,
          "value": "G2O6wnJT4ZHHzNds",
          "mode": "list",
          "cachedResultUrl": "/workflow/G2O6wnJT4ZHHzNds",
          "cachedResultName": "TOOL_HUMANO"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3056,
        1040
      ],
      "id": "ce818988-e2ec-49dd-86ca-494d2a2b131c",
      "name": "Call 'TOOL_HUMANO'"
    },
    {
      "parameters": {
        "name": "rag_search",
        "description": "Busca informações gerais do estúdio: preços, planos, horários, localização, política de cancelamento, instrutores, FAQ. Usar sempre que o aluno fizer perguntas gerais ou quando o agente estiver em dúvida sobre alguma informação",
        "topK": 5
      },
      "id": "995d511f-1266-4860-bdde-ba297010df5b",
      "name": "Vector Store Tool1",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        2592,
        1312
      ]
    },
    {
      "parameters": {
        "content": "RAG DA EMPRESA\n",
        "height": 355.0703109571017,
        "width": 543.3045617209656
      },
      "id": "e99fd486-5423-498a-a725-b8a01771b374",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2288,
        1296
      ]
    },
    {
      "parameters": {
        "model": "gpt-5-nano",
        "options": {
          "maxTokens": 4000
        }
      },
      "id": "1e72d1cc-36eb-493f-a2e2-1bddab7fe9b5",
      "name": "OpenAI Chat Model4",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        2640,
        1440
      ],
      "credentials": {
        "openAiApi": {
          "id": "s0v12e34okAhSlTQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "conhecimentos",
          "mode": "list",
          "cachedResultName": "conhecimentos"
        },
        "options": {
          "queryName": "match_documents",
          "metadata": {
            "metadataValues": [
              {
                "name": "estudio_id",
                "value": "bda37657-6290-439e-8a92-856d0983e26d"
              }
            ]
          }
        }
      },
      "id": "2dcc1575-3f9e-4f54-98f3-4168f9f0936f",
      "name": "Supabase Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        2352,
        1392
      ],
      "credentials": {
        "supabaseApi": {
          "id": "A1n5iJc6htbQvUPI",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2352,
        1536
      ],
      "id": "43fddae9-0a12-4167-8b5f-892c3163d63b",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "s0v12e34okAhSlTQ",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "NoOp.4": {
      "main": [
        [
          {
            "node": "UnificaDados",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "empilhaTexto": {
      "main": [
        [
          {
            "node": "Obtem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtem": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompts": {
      "main": [
        [
          {
            "node": "UnificaDados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "camposIniciais": {
      "main": [
        [
          {
            "node": "Prompts",
            "type": "main",
            "index": 0
          },
          {
            "node": "NoOp.4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getClient": {
      "main": [
        [
          {
            "node": "pausado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fromMe": {
      "main": [
        [
          {
            "node": "pausar?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "status === DELIVERY_ACK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "ENVIA MSG",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "empilhaTexto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "empilhaÁudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deleta": {
      "main": [
        [
          {
            "node": "messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UnificaDados": {
      "main": [
        [
          {
            "node": "getClient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Deleta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "status === DELIVERY_ACK": {
      "main": [
        [
          {
            "node": "NoOp.",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "empilhaÁudio": {
      "main": [
        [
          {
            "node": "Obtem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GeraUUID": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "getClient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateUser1": {
      "main": [
        [
          {
            "node": "getClient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GeraUUID1": {
      "main": [
        [
          {
            "node": "CreateUser1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "fromMe",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GeraUUID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GeraUUID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Obtem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "camposIniciais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pausar?": {
      "main": [
        [
          {
            "node": "pausando",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pausando": {
      "main": [
        [
          {
            "node": "NoOp.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pausado?": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp.1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "messages": {
      "main": [
        [
          {
            "node": "AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI": {
      "main": [
        [
          {
            "node": "ENVIA MSG1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Modelos produtos -  FOTOS'": {
      "ai_tool": [
        [
          {
            "node": "AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'TOOL-chamar_api_studio'": {
      "ai_tool": [
        [
          {
            "node": "AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'TOOL_HUMANO'": {
      "ai_tool": [
        [
          {
            "node": "AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool1",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool1": {
      "ai_tool": [
        [
          {
            "node": "AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "dd9fd373-f01a-4243-b26f-5f81e0209736",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8dcaa24d5617fd355e6173f679c6e6caa490313118e59aa269a215b14c92ede3"
  },
  "id": "5qqVbtK0lDQzFiJq",
  "tags": []
}