TOOL_HUMANO.json
{
  "name": "TOOL_HUMANO",
  "nodes": [
    {
      "parameters": {},
      "id": "45041310-8f5b-4b3a-9c2f-e1c6633250b4",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        2304,
        768
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "817f12c4-7d2a-45bd-8c12-74ab0c196308",
              "name": "response",
              "value": "=encaminhado",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "44204ec4-1e3d-479c-8afc-06cd97614f5a",
      "name": "Resposta para o Agente",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2928,
        768
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.whatsapp.evo.server_url }}/message/sendText/{{ $json.whatsapp.evo.nomeInstancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.whatsapp.evo.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.whatsapp.evo.telefone }}"
            },
            {
              "name": "text",
              "value": "={{ $json.mensagem }}"
            }
          ]
        },
        "options": {}
      },
      "id": "85fb473f-6522-4444-ae52-ab9ac6151f56",
      "name": "ENVIA MSG1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2736,
        768
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n\n  const nome = item.json.nome || \"Aluno não identificado\";\n  const telefone = item.json.telefone || \"não informado\";\n  const problema = item.json.problema || \"não informado\";\n  const resumo = item.json.resumo || \"\";\n\n  const mensagem = `📞 *Solicitação de Atendimento Humano*\n\n👤 Nome: ${nome}\n📱 Telefone: ${telefone}\n\n⚠️ Motivo: ${problema}\n\n📝 Resumo:\n${resumo}`;\n\n  return {\n    json: {\n      ...item.json,\n      mensagem,\n      whatsapp: {\n        evo: {\n          telefone: \"5551995009663\",\n          nomeInstancia: \"TESTE\",\n          apikey: \"1D8463A03C78-4E4D-BECC-65F8DB4C9B2A\",\n          server_url: \"https://pilates-evolution-api.cydx61.easypanel.host\"\n        }\n      }\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2512,
        768
      ],
      "id": "3f4088cb-9807-4c52-8a7d-35332a9c8659",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "aluno_id": null,
          "nome": null,
          "telefone": null,
          "problema": "pedido de atendimento humano",
          "resumo": "Aluno pediu para falar com um atendente humano sem fornecer detalhes. Não foi possível identificar o aluno (nome/telefone não informados). Encaminhando solicitação para a equipe de atendimento."
        }
      }
    ]
  },
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ENVIA MSG1": {
      "main": [
        [
          {
            "node": "Resposta para o Agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "ENVIA MSG1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "b2b4a274-df9b-4fa0-8f95-5ec4f83a7915",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8dcaa24d5617fd355e6173f679c6e6caa490313118e59aa269a215b14c92ede3"
  },
  "id": "G2O6wnJT4ZHHzNds",
  "tags": []
}